---
import "../styles/global.css";
import AuthGate from "../components/AuthGate";
---

<html lang="id">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Absensi Basket</title>
  </head>

  <body class="bg-slate-900 text-white">

    <AuthGate client:only="react" />
  </body>
</html>
